$red: rgba(0, 0, 200, 0.5);
$blue: rgba(200, 10, 50, 0.5);

.header-section {
    background-color: $blue;
}

.music-section {
    .on {
        background-color: red;
    }
    .off {
        background-color: $red;
    }
}
