@import 'reset.css';

$primary: #428bca; // #337ab7
$success: #5cb85c;
$info:    #5bc0de;
$warning: #f0ad4e;
$danger:  #d9534f;
$red: rgba(0, 0, 200, 0.5);
$blue: rgba(200, 10, 50, 0.5);

body {
    font-family: 'Roboto', sans-serif;
}

.header-section {
    color: white;
    font-size: 25px;

    .material-icons { font-size: 40px; }
}

.bpm-header {
    margin-right: 10px;
}

.bpm-slider {
    width: 140px;
    margin-bottom: -35px;
    margin-top: -30px;
}

.bpm-title {
    margin-left: -16px !important;
    margin-top: -5px !important;
    margin-bottom: -5px !important;
    background-color: transparent !important;
}

.clip-header {
    height: 60px !important;
    margin-left: -10px !important;
}

.clip-icon {
    margin-top: -10px !important;
}

.music-section {
    padding: 20px 0px;
    width: 16.6666%;
    display: inline-block;

    .clip-list {
        padding: 0 15px;
        .title { padding: 10px 0; }
        .volume-card { margin-top: 20px; height: 60px !important; }
        .track-slider { margin: -2px 20px -25px 20px; }
        .on  { background-color: $warning; }
        .off {}

        .clip-card > div {
            position: relative;

            .waveform { width: 100% !important; height: 60px; position: absolute; }
        }

    }
}

.shop-section {
    margin-top: 5px;
    .title { padding: 20px 15px; display: none; }
    .shop-item { width: 16.66%; float: left; }
}
