@import 'reset.css';

$primary: #428bca; // #337ab7
$success: #5cb85c;
$info:    #5bc0de;
$warning: #f0ad4e;
$danger:  #d9534f;
$red: rgba(0, 0, 200, 0.5);
$blue: rgba(200, 10, 50, 0.5);

body {
    font-family: 'Roboto', sans-serif;
}

.header-section {
    color: white;
    font-size: 25px;

    .material-icons { font-size: 40px; }

}

.music-section {
    padding: 20px 0px;
    width: 20%;
    display: inline-block;
    .clip-list {
        padding: 0 15px;
        .title { padding: 20px 0; }
        .volume-card { margin-top: 20px; }
        .track-slider { margin: 0px 20px -25px 20px; }

        .on  { background-color: $warning; }
        .off {}
    }
}

.shop-section {
    .title { padding: 20px 15px; }
    .shop-item { width: 25%; float: left; }
}
